html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: border-box;
  margin-top: 0;
}

a {
	color: inherit;
	text-decoration: none;
   position: relative;
   display: inline-block;
}

a:hover{
   color: inherit;
}

.nav__link a:hover::after{
   position: absolute;
   content: ""; 
   background-color: white; 
   height: 2px;
   bottom: 0px; left: 0;
   width: 100%;
}

img {
	max-width: 100%;
}

body {
	font-family: 'Montserrat', "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color: var(#666666)
}

ul{
  list-style: none;
  padding: 0;
}

picture img{
   width: 100%;
}

.conteiner{
  width: 1440px;
  margin: 0 auto;
  max-width: 100%; 
}
.flex{
  display: flex;
}

h1,h2,h3,h4,p,ul{
  margin: 0;
}

.section{
   margin-bottom: 80px;
}

.section__header{
   font-size: 40px;
   font-weight: 700;
   margin-bottom: 30px;
}





.header{
    width: 100%;
    background:#3F2AFF;
    padding: 30px 0;
}
.logo{
    width: 95px;
}
.nav{
    color:#FFFFFF;
    margin-left: auto;
}
.nav_link{
    margin-right: 56px;
    font-size: 18px;
}
.nav_link:last-child{
    margin-right: 0;
}


/* hero */
.hero{
    background: radial-gradient(44.07% 44.07% at 67.78% 55.93%, #555681 0%, #212133 100%);
    color: white;
    width: 100%;
    padding: 15px 0 15px 0;
}
.hero_main{
    align-items: center;
}
.hero_h1{
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 30px;
}
.hero-text{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 70px;
}
.btn{
  background: #3F2AFF;
  padding: 24px 75px;
  border-radius: 20px;
  font-weight: 700;
  color: white;
}


/* advatage */
.advatage{
  height: 374px;
}
.adv_first{
  margin-bottom: 30px;
  align-items: center;
}
.advantage_block{
  flex-direction: column;
}
.advntage_header{
  color:#2E2B44;
}
.nav_list{
  margin-right: 31px;
}
.advantage_text{
  line-height: 24px;
  margin-bottom: 46px;
}
.advantate__item{
  align-items: center;
}
.item_img{
  margin-right: 30px;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}
.item_text{
  font-weight: 700;
}


/* teatchers */
.teachers{
  background: #212133;
  padding: 80px;
}
.tearchers_header{
  color: white;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 700;
}
.profile{
  display: flex;
  flex-direction: column;
}
.profile_img{
  margin-bottom: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  overflow: hidden;
}
.profile_header{
  font-size: 18px;
  font-weight: 700;
  color: white;
}
.profile_text{
  color:#85859B;
  font-weight: 400;
  font-size: 16px;
}

/* courses */
.courses_header{
  color: #212133;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 30px;
}
.courses_item{
  background: #EDF0F9;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.courses_list li:nth-last-child(n+3){
margin-bottom: 30px;
}
.courses_img{
margin-top: auto;
    padding: 20px 60px;
    font-size: 16px;
}
.courses_item_block{
  padding: 0 30px 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}
.courses_item_header{
  color: #212133 ;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
}
.courser_text{
  color: #666666;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 28px;
}
.courses_btn {
  margin-top: auto;
  padding: 20px 60px;
  font-size: 16px;
}


/* footer */
.social{
  background: #2E2B44;
  width: 100%;
  padding: 30px;
}
.social_list{
  display: flex;
  align-items: center;
  justify-content: center;
}
.social_link:not(:last-child){
  margin-right: 35px;
}
.skillbox{
  text-align: center;
  width: 100%;
  padding: 3px;
  color:#2E2B44;
}




@media (max-width: 992px) {
  .hero_h1{
     font-size: 50px;
  }

  .advantage__item{
     flex-direction: column;
  }

  .item_img{
    margin: 0;
    margin-bottom: 15px;
    margin-left: 29px;
  }
  
}

@media (max-width: 768px) {
  .hero{
     padding: 80px 0;
  }

  .header div{
     display: flex;
     flex-direction: column;
     align-items: center;
  }

  .Logo{
     margin-bottom: 31px;
  }
  
  .nav{
     margin-left: 0;
  }

  .hero__right{
     display: none;
  }
  .advatage{
    height: 497px;
  }

  .adv_first{
     align-items: flex-start;
  }

  .courses_btn{
     padding: 20px 48px;
  }
}
@media(max-width:576px){
  .burger{
    width: 30px;
    position: relative;
    height: 23px;
    margin-left: 454px;
}
.burger_line{
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: white;
}
.burger_line:first-child{
top: 0;
left: 0;
}
.burger_line:nth-child(2){
    top: 45%;
    left: 0;
}
.burger_line:last-child{
    bottom: 0;
    left: 0;
}
.section{
  margin-bottom: 50px;
}
.Logo{
  margin-bottom: 8px;
  margin-right: 325px;
  margin-top: -22px;
  width: 24%;
}
.nav{
  display: none;
}
.section__header{
  font-size: 20px;
}
.hero_h1{
  font-size: 30px;
}
.btn{
  padding: 20px 54px;
}
.adv_first picture{
  display: none;
}
.hero{
  padding: 50px 0;
}
.advatage{
  height: 584px;
}
.advantage__item{
  flex-direction: row;
}
.advantage__item:not(:last-child){
  margin-bottom: 30px;
}
.item_img{
  margin-right: 30px;
}
.teacher{
  padding: 50px 0;
}
.profile:not(:last-child){
  margin-bottom: 30px;
}
.profile__img{
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
}










